
@{
    ViewBag.Title = "PackageEdit";
}

<h2>PackageEdit</h2>

<form action="PackageEdit" method="post">
    <input type="text" name="PId" value="@Model.PId" class="form-control" placeholder="PId" hidden>
    <strong>Name</strong>: <input type="text" name="PName" value="@Model.PName" class="form-control" />
    @Html.ValidationMessage("PName", new { @class = "text-danger" })<br>
    <strong>Price</strong>: <input type="text" name="PPrice" value="@Model.PPrice" class="form-control" />
    @Html.ValidationMessage("PPrice", new { @class = "text-danger" })<br>
    <strong>Desc</strong> : <input type="text" name="PDesc" value="@Model.PDesc" class="form-control" />
    @Html.ValidationMessage("PDesc", new { @class = "text-danger" })<br>
    <strong>Promo</strong>: <input type="text" name="PCode" value="@Model.PCode" class="form-control" />
    @Html.ValidationMessage("PCode", new { @class = "text-danger" })<br>



    <input type="submit" class="btn btn-default" />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</form>