@model WebSeries.EntityFramework.User



@{
    ViewBag.Title = "Account";
}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">User /</span> Account</h4>

        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i>Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("AccountSetting", "User" , new { id = Model.Id })"><i class="bx bx-cog me-1"></i> Account Setting</a>
                    </li>

                </ul>
                <div class="card mb-4">
                    <h5 class="card-header">Profile Details</h5>
                    <!-- Account -->
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="~/assets/img/avatars/1.png"
                                 alt="user-avatar"
                                 class="d-block rounded"
                                 height="100"
                                 width="100"
                                 id="uploadedAvatar" />

                            <div class="button-wrapper">
                                <h3><span class="d-none d-sm-block">@Html.DisplayFor(modelItem => Model.Name)</span></h3>

                                <p class="text-muted mb-0"> User Type: @Html.DisplayFor(modelItem => Model.Role)</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <form id="formAccountSettings">
                            <div class="row">
                                <div class="mb-3 col-md-6">
                                    <label for="firstName" class="form-label">Name</label>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label for="email" class="form-label">E-mail</label>
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="organization" class="form-label">Phone</label>
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="DOB">Date of Birth</label>
                                    <div class="input-group input-group-merge">
                                        @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control ", @disabled = "disabled" } })
                                    </div>
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="address" class="form-label">Present Address</label>
                                    @Html.EditorFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="state" class="form-label">Second Address</label>
                                    @Html.EditorFor(model => model.Address2, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label for="zipCode" class="form-label">Status</label>
                                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>
                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="Role">User Type</label>
                                    @Html.EditorFor(model => model.Role, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>

                                <div class="mb-3 col-md-6">
                                    <label class="form-label" for="AccountCreateTime">Member Since</label>
                                    @Html.EditorFor(model => model.AccountCreateTime, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                                </div>

                            </div>
                            <div class="mt-2">
                                <a class="btn btn-primary me-2" href="@Url.Action("AccountSetting", "User" , new { id = Model.Id })"><i class="bx bx-cog me-1"></i>Account Setting</a>


                                <a class="btn btn-danger me-2" href="@Url.Action("List", "User" , new { id = Model.Id })"><i class="bx bx-left-arrow-circle me-1"></i>Go Back</a>

                               
                            </div>
                        </form>
                    </div>
                    <!-- /Account -->
                </div>

            </div>
        </div>
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>
<!-- Content wrapper -->
